apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.namespace }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.mysql }}-secret
  namespace: {{ .Values.namespace }}
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: {{ .Values.mysqlRootPassword }}
  MYSQL_DATABASE: {{ .Values.mysqlDatabase }}
  MYSQL_USER: {{ .Values.mysqlUser }}
  MYSQL_PASSWORD: {{ .Values.mysqlPassword }}